
<!-- ====================================================================== -->

<h1>Hello Ruby World!</h1>
<p>Greetings from Poznań!</p>
<p>Current time is: <%= @time %></p>
<p>Time to say <%= link_to "Goodbye", hello_goodbye_path %>!</p>
<p>Find me in app/views/hello/welcome.html.erb</p>

<!-- ====================================================================== -->

<%
# ###################################################
=begin

@txt = "Ala";

@txt += " " + @a[1];

for elem in @a
  @txt += ", " + elem
end
@txt += @txt / "(pusto)" rescue "."

#@txt += say_goodnight('pa')

#<p>Elementy tablicy:  for elem in @a puts elem {done}</p>

=end
# ###################################################
%>

<!-- ====================================================================== -->

<p>Wynik obliczeń: <%= @txt %> (q3)</p>

<br/>
<br/>

<!-- ------------------------------------------------------ -->

<form class="well form-horizontal col-sm-8" role="form">

  <label for="username" class="col-sm-2 control-label">Nazwa użytkownika:</label>
  <input id="username" name="username" type="text" class="form-control col-sm-6" placeholder="Wpisz swoją nazwę użytkownika..."><br/>

  <label for="pass" class="span2">Hasło:</label>
  <input id="pass" name="pass" type="password" class="form-control span3" placeholder="Wpisz swoje hasło..."><br/>

  <button class="btn">Anuluj</button>
  <button class="btn btn-primary">Zaloguj się</button>

</form>

<br/>
<br/>

<!-- ------------------------------------------------------ -->

<form class="form-horizontal well col-sm-8" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        <span class="input-group-addon">.com</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember<br/>me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

<!-- ------------------------------------------------------ -->
