<%
	# ------------------------------------------------------
	# ####       Nagłówek, logo i info wstępne          ####
	# ------------------------------------------------------

	# <%= image_tag "http://www.arena.pl/statics/img/arena_logo.png", size: "211x45", class: "nav_bar"

%>
<center>
	<a href="/"><%= image_tag "arena_logo.png", size: "300x70", class: "nav_bar" %></a>
</center>
<hr />