<%
	# ------------------------------------------------------
	# ####       Nagłówek, logo i info wstępne          ####
	# ------------------------------------------------------

	# <%= image_tag "http://www.arena.pl/statics/img/arena_logo.png", size: "211x45", class: "nav_bar"

%>
<div class="my_header">
	<a href="/"><%= image_tag "arena_logo.png", size: "300x70", class: "my_header_img" %></a>
</div>
<!-- <hr /> -->