<%
	# ------------------------------------------------------
	# ####       Mała stopka strony (real footer)       ####
	# ------------------------------------------------------
%>

<div id="main-footer-panel" style="text-align: center;">
	<hr>
	<div class="well" style="text-align: center;">
		<h2>### Stopka strony ###</h2>
	</div>
</div>