<%
	# ------------------------------------------------------
	# ####       Mała stopka strony (real footer)       ####
	# ------------------------------------------------------
%>

<div id="main-footer-panel" style="text-align: center;">
	<div class="well" style="text-align: center;">
		<div class="row my_footer">
		  <div class="col-md-3">
		  	<h5><strong>Potrzebujesz pomocy?</strong></h5>
			<p class="my_footer_text">Jesteśmy dostępni 24h/dobę<br />7 dni w tygodniu.</p>
			<p class="my_footer_link">
				<a href="#">pomoc@arena.pl</a><br />
				<a href="tel:+48601726408">+48 61 8881 45 63</a>
			</p>
		  </div>
		  <div class="col-md-2">
		  	<h5><strong>Wsparcie</strong></h5>
			<p class="my_footer_link">
				<a href="#">Jak działa Arena?</a><br />
				<a href="#">Forum</a><br />
				<a href="#">FAQ</a><br />
				<a href="#">Pomoc</a><br />
				<a href="#">Regulamin</a><br />
				<a href="#">Polityka prywatności</a>
			</p>
		  </div>
		  <div class="col-md-3">
		  	<h5><strong>Firma</strong></h5>
			<p class="my_footer_link">
				<a href="#">Informacje o firmie</a><br />
				<a href="#">Aktualności</a><br />
				<a href="#">Blog</a><br />
				<a href="#">Zespół</a><br />
				<a href="#">Kariera</a><br />
				<a href="#">Informacje dla prasy</a><br />
				<a href="#">Skontaktuj się z nami</a>
			</p>
		  </div>
		  <div class="col-md-4">
		  	<h5><strong><span class="glyphicon glyphicon-phone"></span> Pobierz aplikację mobilną</strong></h5>
			<p>Teraz możesz kupować, sprzedawać, zamieszczać ogłoszenia i&nbsp;przeglądać zawartość Areny
				z dowolnego miejsca na świecie wykorzystując do tego swój ulubiony smartfon.</p>
			<button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-download"></span> Pobierz z AppStore</button>
			<button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-download"></span> Pobierz z Google Play</button>
		  </div>
		</div>
	</div>
</div>