<%
	# ------------------------------------------------------
	# ####   Stopka stopki strony (last-last footer)    ####
	# ------------------------------------------------------
%>

<div class="site-info">
	<p style="text-align: center; font-size: 9px; color: gray;">
		Copyright &copy; <%= @cyear %> by
		<a href="http://arena.pl" title="Nowa platforma handlowa Arena.pl">Arena.pl Sp. z o.o.</a>
		&bull; Wygenerowano: <strong><%= @time1.strftime('%d-%m-%Y %H:%M:%S') %></strong>
		&bull; Projekt i wykonanie strony:
		<a href="http://www.arena.pl/o-firmie/" title="Projektowanie stron internetowych" target="_blank">Arena.pl Sp. z o.o. - Oddział Poznań</a>
	</p>
</div><!-- .site-info -->
