<%
  # ------------------------------------------------------
  # ####        View templatete (Offers.show)         ####
  # ------------------------------------------------------
%>

<div class="well">

  <h2 class="my_page_title">Szczegóły oferty</h2>

  <p>
    <strong>Title:</strong>
    <%= @offer.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= @offer.text %>
  </p>

  <hr />
  <%= link_to 'Powrót do listy wszystkich ofert', offers_path %>

</div>
