/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* -------------------------------------------------------------- */

body {
  padding-top: 0px;
  padding-bottom: 20px;
}

.well {
	box-shadow: 2px 2px 8px gray !important;
}

.navbar {
  margin-bottom: 24px !important;
}

.btn-sm {
  margin-top: 2px !important;
}

/* -------------------------------------------------------------- */

.my_page_title {
  color: #245269 !important;
  margin: 8px 0 16px 0 !important;
  font-size:inerit;
}

.my_header {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.my_header_img {
}

.my_footer {
  text-align: left;
  font-size: 12px;
}

.my_footer_text {
  color: gray;
}

.my_footer_link a {
  font-weight: bold;
}

#loginIdSwitch {
  text-align: right;
  margin: 0 0 16px 0;
}

/* -------------------------------------------------------------- */
